header {
        height: 700px;
        background-color: red;
        border-bottom-left-radius: 80px 80px;
        background-image: linear-gradient(to bottom right, #ff9a81, #ff4257);
}

header div#bg {
        background-image: url('./images/bg-pattern-intro-desktop.svg');
        background-position: 120%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
}

header div section {
        margin-top: 120px;
}

#phones {
        background-color: #262A56;
        height: 100vh;
        border-top-right-radius: 80px 80px;
}

footer {
        border-top-right-radius: 80px 80px;
        background-color: rgb(26, 26, 26);
}

.state-of-art-container {
        background-color: #3a3d5cf3;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
}

.state-of-art-container__image {
        background-image: url(./images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -10rem;
}